@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XCentrium Challenge</h1>
    <p class="lead">List all images and show them to the user appropriately in a carousel or gallery control of some kind (borrow from the internet or write your own)</p>
    <p><a href="@Url.Action("Images", "Home")" class="btn btn-primary btn-lg">Images</a></p>
    <p class="lead">Count all the words (display the total) and display the top 7 occurring words and their count (either as a table or chart of some kind, again you choose or write your own).</p>
    <p><a href="@Url.Action("Words", "Home")" class="btn btn-primary btn-lg">Words Count</a></p>
</div>
